.user-detail
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

  .header
    width: 100%
    height: 2.5rem
    line-height: 2.5rem
    box-shadow: 0px 0px 11px #ddd
    color: #232323

    .back
      color: #232323
      left: 10px
      font-size: 1rem
      position: absolute

  .user-content
    flex: 1

    .user-header
      display: flex
      flex-direction: column
      align-items: center
      padding: 2.5rem 0

      .red-point
        background: #ff0000
        //font-size: 15px
        width: 8px
        height: 8px
        display: block
        position: absolute
        border-radius: 100%
        left: 50%
        margin-left: 1.2rem
        margin-top: 0.2rem

      .header-img
        width: 5rem
        height: 5rem
        box-shadow: 1px 1px 4px #dddddd
        border-radius: 100%
        overflow: hidden

        img
          width: 100%
          height: 100%

      .name
        margin-top: 10px
        color: #000
        font-size: 1rem


